*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-div{
  
  border: 1px solid black;
  text-align: center;
  align-items: center;
  height: 20rem;
 
  margin-top: 100px;
  width: 100%;

}

.center-div{
  display: flex;
  justify-content: center;
  margin-top: 100px;

}
